a
{
    color: #ADD8E6;
    font-weight: bold;
}
body
{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
div
{
    display:block; 
}
footer
{
    align-items: center; 
    background-color: #547191; 
    color: white; 
    display: flex; 
    flex-direction: column; 
    font-size: 30px; 
    font-weight: bold; 
    height: 250px; 
    justify-content: flex-start; 
}
h1
{
    display: flex; 
    font-size: 2em;
    justify-content: center; 
}
header
{
    align-items: center;
    background-color: #6A3673;
    color: white; 
    display: flex; 
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: bold; 
    height: 60px; 
    padding-left: 30px;
}
li
{
    color: white;
}
p
{
    display: flex; 
    font-size: 1.5em;
    justify-content: center;
}
ul
{
    display: block;
    font-size: 1.2em;
    width: 50%;
    padding-left: 30%;
}
.box-presentation
{
    background-color: white;
    border-radius: 20px;
    display: block;
    height: 50%; 
    justify-content: center;
    margin: auto;
    margin-top: 2%;
    overflow: hidden;
    width: 40%; 
}
.certificate-image
{
    height: 800px;
}
.cover
{
    padding: 0px 30px;
    position: relative;
}
.fade
{
    animation-name: fade;
    animation-duration: 0.5s;
}
@keyframes fade {
    from {opacity: 0.5}
    to {opacity: 1}
}
.prev, .next
{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 48px;
    transition: 0.4s ease;
    user-select: none;
}
.next
{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.presentation-section
{
    background-color: #042141; 
    display: inline-block;
    height: calc(100vh - 60px);
    vertical-align: middle;
    width: 100%;
    margin: 0;
}
.second-section
{
    background-color:  #00101E;
    display: flex;
    height: 1200px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile-picture
{
    border-radius: 120px; 
    height: 200px;
    width: 100;
}
.slides
{
    display: none;
}
.slideshow
{
    max-width: 100%;
    position: relative;
    margin: auto;
}
.socials
{
    border-radius: 40px;
    height: 70px;
    width: 100;
}
.tech-icon
{
    height: 100px;
    margin: 50px;
    margin-top: 5px;
}
.tech-list
{
    display: flex;
    justify-content: center;
}